*
  box-sizing: border-box

#wpcontent
  padding-left: 0

  #wpbody-content
    padding: 0

#wpfooter
  display: none
  
.container
  width: 100%
  max-width: 1280px
  margin: 0 auto

  .row
    display: flex
    flex-direction: row

    &.align-items-end
      align-items: flex-end

    .col
      flex: 1