.ez-chatbot__button
  display: inline-flex
  place-items: center
  background: black
  padding: 12px 20px
  border-radius: 5px
  color: white
  line-height: 1
  border: none
  outline: none
  transition: all 0.3s ease
  cursor: pointer

  &:hover
    background: color-mix(in srgb, black 80%, white)